*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI",
}

::selection{
  color: #000;
  background: #fff;
}

#fondoim {
  background-image: url("image/fondopag.jpg");
}

nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}

nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.menu .logo img{
  width: 8%;
}

.menu ul{
  display: inline-flex;
}

.menu ul li{
  list-style: none;
  margin-left: 7px;
}

.menu ul li:first-child{
  margin-left: 0px;
}

.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu ul li a:hover{
  background: #fff;
  color: black;
}

.img{
  background: url("image/fondopag.jpg")no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.img::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}

.center .sub_title{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.center .buttons{
  margin-top: 20px;
}

.center .buttons button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.center .buttons button:first-child{
  color: #fff;
  background: none;
}

.buttons button:first-child:hover{
  background: white;
  color: black;
}

.center .buttons button:last-child{
  background: white;
  color: rgb(22, 22, 22);
}

/* asdsadsadsadsadsa */

.content-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.content-text {
  flex: 1;
  color: white;
  font-size: 20px;
}

.content-text h2 {
  font-size: 40px;
}

.content-image {
  flex: 1;
  text-align: right;
}

.content-image img {
  max-width: 80%;
  height: auto;
}

.onesec {
  position: absolute;
  margin-top: 100px;
  margin-left: 5%;
  width: 90%;
  padding: 15px 80px;
  background-color: rgba(32, 49, 82, 70%);
  border-radius:30px ;
}

    .container {
      display: flex;
      justify-content: space-between;
      padding: 150 100px;
    }
    
    .box {
      text-align: center;
      width: 250px;
      padding: 20px;
      color: white; 
      background-color: rgba(32, 49, 82, 70%);
      border-radius: 40px;
        transition: transform 0.3s ease-in-out;
    }

    .box:hover {
  transform: scale(1.1); /* Aplica un aumento de escala al pasar el mouse */
    }

    .box img {
      margin: 5 0px;
      width: 100px;
      height: 100px;
    }